<!--
<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="stocks">Stocks</a></li>
  <li><a routerLink="taxes">Taxes</a></li>
  <li><a routerLink="account">Account</a></li>
</ul>
<router-outlet></router-outlet>
-->
<dmf-header/>
<div class="p-4 grid grid-cols-7 grid-rows-1 gap-4">
  <div class="bg-red-500 row-start-1 col-start-1 col-span-2 h-screen grid grid-rows-2 gap-4">
    <div class="bg-yellow-500">
      <mf-loader remoteModuleName="stocks"></mf-loader>
    </div>

    <div class="bg-yellow-300">
      <mf-loader remoteModuleName="taxes"></mf-loader>
    </div>

  </div>

  <div class="bg-red-500 row-start-1 col-start-3 col-span-5 h-screen">
    <mf-loader remoteModuleName="account"></mf-loader>
  </div>


</div>
